body {
    font-family: Arial, sans-serif;
    background: #fafafa;
}

header h1 a {
    text-decoration: none;
    color: #333;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.carousel-img {
    height: 600px;          /* Chiều cao cố định */
    object-fit: cover;       /* Ảnh đầy khung, không méo */
}
